<div id="about" class="tm-page-content">
    <div class="tm-black-bg tm-mb-20 tm-about-box-1">
        <h2 class="tm-text-primary tm-about-header">About Wave Cafe</h2>
        <div class="tm-list-item tm-list-item-2">
            <img src="img/about-1.png" alt="Image" class="tm-list-item-img tm-list-item-img-big">
            <div class="tm-list-item-text-2">
                <p>
                    Welcome to Wave Café, where the soothing rhythm of the ocean meets the aromatic symphony of freshly brewed coffee. Immerse yourself in a coastal-inspired haven, where the ambience mirrors the gentle ebb and flow of waves </p>
                <p>Indulge in our artisanal coffee blends, crafted with precision and passion, while savoring delectable treats that ride the tide between indulgence and elegance.</p>
            </div>
        </div>
    </div>
    <div class="tm-black-bg tm-mb-20 tm-about-box-2">
        <div class="tm-list-item tm-list-item-2">
            <div class="tm-list-item-text-2">
                <h2 class="tm-text-primary">How we began</h2>
                <p>
                    Wave Café began as a heartfelt vision to create a coastal sanctuary in the heart of the city. Inspired by the founder's love for the ocean's tranquility and the communal spirit of seaside cafes, the idea took shape.</p>
            </div>
            <img src="img/about-2.png" alt="Image" class="tm-list-item-img tm-list-item-img-big tm-img-right">
        </div>
        <p>The journey started with a desire to offer more than just coffee – it was about curating an experience that seamlessly blended the calming influence of waves with the rich warmth of a welcoming cafe.</p>
    </div>
</div>