<div id="login" class="tm-page-content">
    <div class="tm-black-bg tm-contact-text-container">
        <h2 class="tm-text-primary">Login</h2>

    </div>
    <div class="tm-black-bg tm-contact-form-container tm-align-right">


        <div class="tm-form-group">
            <input type="email" name="email" class="tm-form-control" placeholder="Email" required="" />
        </div>
        <div class="tm-form-group">
            <input type="text" name="password" class="tm-form-control" placeholder="Password" required="" />
        </div>
        <div class="tm-form-group">
            <input type="text" name="password" class="tm-form-control" placeholder="Password" required="" />
        </div>

        <div>
            <form>
                <button type="submit" class="tm-btn-primary tm-align-right" formaction="routes/reservations.html">
                    Submit
                </button>
            </form>
        </div>

    </div>
</div>
