<div id="register" class="tm-page-content">
    <div class="tm-black-bg tm-contact-text-container">
        <h2 class="tm-text-primary">Register</h2>

    </div>
    <div class="tm-black-bg tm-contact-form-container tm-align-right">
        <form id="registerForm">

            <div class="tm-form-group">
                <input type="text" name="name" class="tm-form-control" placeholder="Name" id="name"/>
            </div>
            <div class="tm-form-group">
                <input type="email" name="email" class="tm-form-control" placeholder="Email" id="email"/>
            </div>
            <div class="tm-form-group">
                <input type="password" name="password" class="tm-form-control" placeholder="Password" id="password1"/>
            </div>
            <div class="tm-form-group">
                <input type="password" name="password" class="tm-form-control" placeholder="Password" id="password2"/>
            </div>

            <div>
                <button type="submit" class="tm-btn-primary tm-align-right" >
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Initialize jQuery Validator
        $('#regiserForm').validate({
            rules: {
                name: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                password1: {
                    required: true,
                    minlength: 8,
                    maxlength: 20
                },
                password2: {
                    required: true,
                    minlength: 8,
                    maxlength: 20
                }
            },
            messages: {
                email: {
                    required: 'Please enter your email',
                    email: 'Please enter a valid email address'
                },
                password1: {
                    required: 'Please enter a password',
                    minlength: 'Password must be at least 8 characters long',
                    maxlength: 'Password cannot be longer than 20 characters',
                }
            },
            submitHandler: function (form) {
                try {
                    const formData = $(form).serializeArray();
                    if (form.password1 !== form.password2) {
                        alert("Passwords do not match")
                    }
                    // Will be implemented in milestone 3
                } catch (error) {
                    console.error('Error in submitHandler:', error);
                    alert('An error occurred. Please try again later.');
                    // Unblock UI after request is complete
                    $.unblockUI();
                }
            }
        });
    });
</script>