<div id="reservations" class="tm-page-content">

    <div class="tm-black-bg tm-mb-20 tm-about-box-1">

        <nav class="tm-site-nav">

            <ul class="tm-site-nav-ul">

                <li class="tm-page-nav-item">
                    <a href="#login" class="tm-page-link">
                        <i class="fas fa-users tm-page-link-icon"></i>
                        <span>Login</span>
                    </a>
                </li>
                <p>Or</p>

                <li class="tm-page-nav-item">
                    <a href="#register" class="tm-page-link">
                        <i class="fas fa-users tm-page-link-icon"></i>
                        <span>Register</span>
                    </a>
                </li>

            </ul>
        </nav>



    </div>
</div>
