<div id="special" class="tm-page-content">
    <div class="tm-special-items">
        <div class="tm-black-bg tm-special-item">
            <img src="img/special-01.jpg" alt="Image">
            <div class="tm-special-item-description">
                <h2 class="tm-text-primary tm-special-item-title">Lemonade</h2>
                <p class="tm-special-item-text">Quench your thirst with our delicious lemonade menu options. From classic flavors to unique twists, explore our top ideas to create the perfect summer drink </p>
            </div>
        </div>
        <div class="tm-black-bg tm-special-item">
            <img src="img/special-02.jpg" alt="Image">
            <div class="tm-special-item-description">
                <h2 class="tm-text-primary tm-special-item-title">Croissants</h2>
                <p class="tm-special-item-text">Our signature laminated croissant dough shaped into squares, filled with a rich, delicious cream cheese filling and baked to perfection</p>
            </div>
        </div>
        <div class="tm-black-bg tm-special-item">
            <img src="img/special-03.jpg" alt="Image">
            <div class="tm-special-item-description">
                <h2 class="tm-text-primary tm-special-item-title">Hamburger</h2>
                <p class="tm-special-item-text">“Tasty, delicious, and has me craving more on the first bite.” to “Juicy, mouthwatering, tasty, and everything you'd ever want to savor.”.</p>
            </div>
        </div>
        <div class="tm-black-bg tm-special-item">
            <img src="img/special-04.jpg" alt="Image">
            <div class="tm-special-item-description">
                <h2 class="tm-text-primary tm-special-item-title">Cookies</h2>
                <p class="tm-special-item-text">Made with fresh strawberries, these strawberry cookies are a wonderful summertime treat.</p>
            </div>
        </div>
        <div class="tm-black-bg tm-special-item">
            <img src="img/special-05.jpg" alt="Image">
            <div class="tm-special-item-description">
                <h2 class="tm-text-primary tm-special-item-title">Iced tea</h2>
                <p class="tm-special-item-text">Our iced tea recipes mix fresh ingredients with the Southern classic for a tall glass of relaxation.</p>
            </div>
        </div>
        <div class="tm-black-bg tm-special-item">
            <img src="img/special-06.jpg" alt="Image">
            <div class="tm-special-item-description">
                <h2 class="tm-text-primary tm-special-item-title">Sandwiches</h2>
                <p class="tm-special-item-text">There's something about a really well made sandwich. Whether it's hot, cold, vegetarian or Big & Bold</p>
            </div>
        </div>
    </div>
</div>
